{% extends 'users/welcome.html' %}
{% block body %}
<h1 align="center">Welcome to your homepage</h1>
<div class="container">
    <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">add post</button>
    {% for post in posts %}
    {%if post.user_id == user.id%}
            <h3>{{ post.text }}</h3>
            <p>Posted by {{ user.username }} on {{ post.created }}</p>
        {%endif%}
    {% endfor %}

</div>
<div class="container">
<h1>Friends List</h1>

</div>
<div class="container">
    <h1>Suggested friends</h1>
    {% for other in others %}
    {{sent}}
<h3>{{ other.username }} <button class="btn btn-outline-info" type="submit"><a href="{% url 'add_friend' pk=other.pk %}">Add Friend</a></button></h3>
    {% endfor %}
    </div>

{% endblock %}