{% extends 'users/welcome.html' %}
{% block head %}
<title>Options</title>
{% endblock %}

{% block body %}
<div class="container">
<button class="btn btn-outline-info" type="submit">Add money to wallet</button>
<br><br>
<button class="btn btn-outline-info" type="submit">send money</button><br><br>
<button class="btn btn-outline-info" type="submit">view money requests</button><br><br>
<button class="btn btn-outline-info" type="submit">See groups</button><br><br>
<button class="btn btn-outline-info" type="submit"><a href="{% url 'change_password' %}">Change Password</a></button><br><br>
{% if not user.premium_user %}
<button class="btn btn-outline-info" type="submit"><a href="{% url 'upgrade' %}">Upgrade</a></button>
{% endif %}
{% if user.premium_user %}
<button class="btn btn-outline-info" type="submit"><a href="{% url 'cancel_plan' %}">Cancel current Plan</a></button>
{% endif %}
</div>
{% endblock %}